<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
                class="glyphicon"
                ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
        {{node.value}}
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>

<script type="text/ng-template" id="drop-modal.html">
    <div class="modal-body">
        <p>哇现在，你想砸一个较小的一个内一个较大的节点。你确定这是个好主意?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$close(true)">确定</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss()">取消</button>
    </div>
</script>

<div class="row">
    <div class="col-sm-12">
        <h3>跌落确认</h3>
        <p>本演示展示了如何使用beforeDrop回调完成拖放操作之前提示用户.</p>
        <p>你会得到一个模式确认弹出尝试删除一个节点作为具有较小值的节点的孩子的任何时间。尝试在5下探20现在.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div data-ui-tree="treeOptions" id="tree-root">
            <input type="checkbox" id="usePromise" data-ng-model="usePromise" data-ng-checked="usePromise"><label for="usePromise">使用的承诺</label>
            <ol data-ui-tree-nodes ng-model="data">
                <li data-ng-repeat="node in data" data-ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="info">
            {{info}}
        </div>
        <pre class="code">{{ data | json }}</pre>
    </div>
</div>
